<div class="bottom-meta text-font-sans mb-5">
  {% include "partials/post/author-info.njk" %}
  <div class="row">
    {% include "partials/post/tags.njk" %}
    {% include "partials/post/share-buttons.njk" %}
  </div>
</div>
