{% if image %}
  <div class="top-image mb-3">
    <img src="{{ image.src }}" alt="{{ imageAlt }}" class="mx-auto d-block" />
    {% if image.credit %}
      <p class="credit">
  Image credit
  <a href="{{ image.credit.url }}">{{ image.credit.author }}</a>
      </p>
    {% endif %}
  </div>
{% endif %}
