<div class="mastodon-share-dialog">
  <p id="which-instance-label"><b>To which instance?</b></p>
  <p>Clicking Share will open a new browser tab. Make sure your browser permits websites to open new tabs.</p>
  <p>You will be able to modify your status contents before submitting.</p>
  <p>Example: <code>mastodon.social</code></p>
  <form class="mastodon-share-form">
    <input type="text" class="instance-url-input"
    aria-labelledby="which-instance-label" />
    <input class="share-form-submit" type="submit" value="Share" disabled />
  </form>
  <p><span class="close-link" tabindex="0">Close this window</span></p>
</div>
