<div class="mastodon-share-dialog border border-secondary-subtle rounded-3">
  <form class="mastodon-share-form">
    <label for="mastodonInstalInput"><strong>To which instance?</strong></label>
    <div class="input-group">
      <span class="input-group-text" id="which-instance-label">{% icon 'mastodon', 'class' = 'bi' %}</span>
      <input type="text" class="instance-url-input form-control" placeholder="mastodon.social"  aria-labelledby="which-instance-label" id="mastodonInstalInput" />
    </div>
    <button class="share-form-submit btn btn-primary mt-2" type="submit" disabled arial-describedBy="mastdonHelpBlock">Share</button><button type="button" class="btn btn-secondary mt-2 ms-2 close-link">Close</button>
    <div id="mastdonHelpBlock" class="form-text">
      <p class="mb-0">Clicking Share will open a new browser tab.</p><p class="mt-0"><em>You will be able to modify your status contents before submitting.</em></p>
  </div>
  </form>
</div>
