{%- set previousPost = collections.publishedPosts | getPreviousCollectionItem(page) -%}
{%- set nextPost = collections.publishedPosts | getNextCollectionItem(page) -%}

<div class="post-navigation row">
  <div class="col-md-5">
      {% if previousPost.url %}
      <a class="link-underline link-underline-opacity-0" href="{{ previousPost.url }}">
        <span class="d-block text-body">← Newer article</span>
        {{ previousPost.data.title }}
      </a>
      {% endif %}
  </div>
  <div class="col-md-5">
      {% if nextPost.url %}
      <a class="link-underline link-underline-opacity-0" href="{{ nextPost.url }}">
        <span class="d-block text-body">Older article →</span>
        {{ nextPost.data.title }}
      </a>
      {% endif %}
  </div>
</div>
