{%- set url -%}{{ title|slugify|alwaysProductionUrl }}/{%- endset -%}
{%- set title -%}{{ title|safe }}{%- endset -%}
{%- set shareButtons = siteConfig.shareButtons -%}

{% if shareButtons | length > 0 %}
  <div class="share-buttons">
    <p>Share this article:</p>

    {% for shareButton in shareButtons %}
      <ul>

        {% if shareButton == 'mastodon' %}
          <li>
            <a target="_blank" rel="noopener noreferrer" data-tooltip="Share on X - opens a new tab" rel="noopener noreferrer" href="/tootpick/#text={{ title }}%0A%0A{{ url }}%0A%0A" class="mastodon">
              {% icon 'mastodon',
              'class' = 'bi' %}
            </a>
          </li>
        {% endif %}

        {% if shareButton == 'x' %}
          <li>
            <a target="_blank" rel="noopener noreferrer" data-tooltip="Share on X - opens a new tab" rel="noopener noreferrer" href="https://x.com/intent/tweet/?text={{ title }}&amp;url={{ url }}" class="x">
              {% icon 'x',
              'class' = 'bi' %}
            </a>
          </li>
        {% endif %}

        {% if shareButton == 'linkedin' %}
          <li>
            <a target="_blank" rel="noopener noreferrer" data-tooltip="Share on Linkedin - opens a new tab" rel="noopener noreferrer" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url }}" class="linkedin">
              {% icon 'linkedin',
              'class' = 'bi' %}
            </a>
          </li>
        {% endif %}

        {% if shareButton == 'facebook' %}
          <li>
            <a target="_blank" rel="noopener noreferrer" data-tooltip="Share on Facebook - opens a new tab" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" class="facebook">
              {% icon 'facebook',
              'class' = 'bi' %}
            </a>
          </li>
        {% endif %}

        {% if shareButton == 'hackernews' %}
          <li>
            <a target="_blank" rel="noopener noreferrer" data-tooltip="Share on Hacker News - opens a new tab" rel="noopener noreferrer" href="https://news.ycombinator.com/submitlink?u={{ url }}&amp;t={{ title }}" class="hackernews">
              {% icon 'hackernews',
              'class' = 'bi' %}
            </a>
          </li>
        {% endif %}

        {% if shareButton == 'clipboard' %}
          <li>
            <div class="clipboard" rel="noopener noreferrer" data-tooltip="Copy article URL to clipboard" tabindex="0">
              {% icon 'clipboard',
              'class' = 'bi' %}
            </div>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  </div>
{% endif %}
