<div class="post-tags col-md-5">
  {% if tags | filterExcludedTags %}
    <p>Tagged as:</p>
    <div class="tag-cloud">
      {% for tag in tags | filterExcludedTags %}
        {%- set tagUrl -%}/{{ siteConfig.tags.pageUrlPrefix }}/{{ tag | slugify }}/{%- endset -%}
        <a class="btn btn-primary border border-primary ms-0 me-1 mb-2" href="{{ tagUrl }}" title="Articles tagged as '{{ tag }}'" data-bs-html="true" data-bs-title="Articles tagged as '<em>{{ tag }}</em>'">
          <span class="name p-category">{{ tag }}</span>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
