.bottom-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5rem 0;

  &>div {
    width: 45%;
  }
}

@import 'tags';
@import 'share_buttons';
@import 'mastodon_share_dialog';
