.dark {
  .top-image {

    img {
      border: var(--top-meta-color) 1px solid;
    }
  }
}

.light {
  .top-image {
    img {
      box-shadow: 3px 4px 7px 0px rgba($black, 0.4);
    }
  }
}
.footnotes {
  font-family: "Source Sans 3", $sansSerifFontFamily;
  font-optical-sizing: auto;

  li,
  p {
    font-size: 1.0375rem;
  }

  a {
    text-underline-offset: 0 !important;
  }
}
.single-article {
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin: 4rem 0 1rem;
  }

  .top-image {
    margin-bottom: 3rem;

    img {
        border-radius: 5px;
      }
    .credit {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.875rem;
        font-family: var(--arial-font-family);
        color: var(--top-meta-color);
    }
  }

  aside:not(.blurb) {
    display: block;
    font-family: "Source Sans 3", $sansSerifFontFamily;
      font-optical-sizing: auto;
    color: var(--aside-color);
    position: absolute;
    width: 15rem;
    left: calc(100% + 2rem);

    p {
      font-size: 1.0375rem;
      margin-top: 0;
    }

    a {
      padding-bottom: 1px;
    }

    @include maxWidth(1024px) {
      position: static;
      left: auto;
      width: auto;
    }
  }
}

.with-asides {
  .single-article {
    max-width: 43rem;
    position: relative;

    @include maxWidth(1024px) {
      position: static;
      margin: 0 auto;
      left: auto;
      right: auto;
    }
  }
}
