{%- set title = siteConfig.site.title -%}
<a class="navbar-brand" href="/" title="{{ title }} - Main page">
{% if siteConfig.site.logo %}
  <img src="{{ siteConfig.site.logo }}" alt="Site logo" class="rounded-circle border border-2 border-secondary site-logo"/>
{% endif %}
  {{ title }}
</a>
