---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: collections.publishedPosts
  size: 10
  alias: posts
permalink: "{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<div class="row">
  <div class="col-4 col-left">
    <div class="sticky-top">
      <h2 class="text-font-sans" id='tags'>Search by topic...</h2>
      {% include "partials/tag-cloud.njk" %}
      <a class="fs-5 mb-2 link-offset-3 link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-font-sans" href="/tags/">
      All&nbsptopics
    </a>
    </div>
  </div>
  <div class="col-8 h-feed container post-list col-right">
    <ul class="m-0 p-0 list-unstyled">
      {% for post in posts %}
        <li>
          {% include "partials/single-post-excerpt.njk" %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include "partials/scroll-up-arrow.njk" %}

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set firstHref = pagination.href.first -%}
{%- set nextHref = pagination.href.next -%}
{%- set lastHref = pagination.href.last -%}

{%- set paginationComponent %}
{% include "partials/pagination.njk" %}
{%- endset -%}

{% include "partials/footer.njk" %}
