---
layout: base
permalink: /{{ siteConfig.tags.pageUrlPrefix }}/{{ tag.slug }}/
pagination:
  data: collections.articlesByTags
  size: 1
  alias: tag
  filter:
    - page
    - post
    - all
---

<h1>Articles tagged as "{{ tag.title }}"</h1>

  <div class="h-feed container post-list">
    <ul class="m-0 p-0 list-unstyled">
  {% for post in tag.items %}
    <li>
      {% include "partials/single-post-excerpt.njk" %}
    </li>
  {% endfor %}
  </ul>
</div>

{%- set totalPages = tag.totalPages -%}
{%- set currentPage = tag.currentPage -%}

{% if tag.href.previous %}
  {%- set previousHref -%}
    /{{ siteConfig.tags.pageUrlPrefix }}/{{ tag.href.previous }}
  {%- endset -%}
{%- endif -%}

{% if tag.href.next %}
  {%- set nextHref -%}
    /{{ siteConfig.tags.pageUrlPrefix }}/{{ tag.href.next }}
  {%- endset -%}
{%- endif -%}

{%- set paginationComponent %}
{% include "partials/pagination.njk" %}
{%- endset -%}

{% include "partials/footer.njk" %}
