.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  margin-bottom: 4rem;
  font-size: 1.25rem;

  menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @import 'header/site_logo';
  @import 'header/site_links';
}

@import 'header/theme_switcher';
