  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .color-blue {
    color: $blue;
  }

  .color-indigo {
    color: $indigo;
  }

  .color-purple {
    color: $purple;
  }

  .color-pink {
    color: $pink;
  }

  .color-red {
    color: $red;
  }

  .color-orange {
    color: $orange;
  }

  .color-yellow {
    color: $yellow;
  }

  .color-green {
    color: $green;
  }

  .color-teal {
    color: $teal;
  }

  .color-cyan {
    color: $cyan;
  }

  .color-gray {
    color: $gray-500;
  }
