.author-image {
  img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 3px 4px 7px 0px rgba($black, 0.4);
  }
}

.about-logo {
  --diameter: 18rem;
  display: block;
  float: right;
  box-shadow: 3px 4px 7px 0px rgba($black, 0.4);
  -webkit-shape-outside: circle();
  shape-outside: circle();
  width: 100%;
  max-width: var(--diameter);
  height: var(--diameter);
}

.author-info {
  box-shadow: 3px 4px 7px 0px rgba($black, 0.4);
}
