.post-list {

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  a:hover {
    h2 {
      text-decoration: underline;
      text-decoration-thickness: 0.125rem;
      text-underline-offset: 0.125rem;
    }

    .read-more {
      color: #dc3545;

      &::after {
        margin-left: .5em;
      }
    }
  }

  a {
    .read-more {
      &::after {
        content: "➞";
        margin-left: .2em;
        transition: transform .15s;
        display: inline-block;
      }
    }
  }
}

:root {
  .page--home {
    h2 {
      font-style: normal;
    }
  }
}
