@use 'sass:color';

// Flexoki colors
$flexoki-black:       #100F0F;
$flexoki-950:         #1C1B1A;
$flexoki-900:         #282726;
$flexoki-850:         #343331;
$flexoki-800:         #403E3C;
$flexoki-700:         #575653;
$flexoki-600:         #6F6E69;
$flexoki-500:         #878580;
$flexoki-300:         #B7B5AC;
$flexoki-200:         #CECDC3;
$flexoki-150:         #DAD8CE;
$flexoki-100:         #E6E4D9;
$flexoki-50:          #F2F0E5;
$flexoki-paper:       #FFFCF0;

$flexoki-red-600:     #AF3029;
$flexoki-red-400:     #D14D41;

$flexoki-orange-600:  #BC5215;
$flexoki-orange-400:  #DA702C;

$flexoki-yellow-900:  #4D3A0B;
$flexoki-yellow-600:  #AD8301;
$flexoki-yellow-400:  #D0A215;
$flexoki-yellow-100:  #FCEEB8;

$flexoki-green-600:   #66800B;
$flexoki-green-400:   #879A39;

$flexoki-cyan-950:    #142625;
$flexoki-cyan-600:    #24837B;
$flexoki-cyan-400:    #3AA99F;
$flexoki-cyan-50:     #EBF2E7;

$flexoki-blue-600:    #205EA6;
$flexoki-blue-400:    #4385BE;

$flexoki-purple-600:  #5E409D;
$flexoki-purple-400:  #8B7EC8;

$flexoki-magenta-600: #A02F6F;
$flexoki-magenta-400: #CE5D97;

// Base values

$baseSize: 16px;

// Base colors

$darkBaseColor: $flexoki-purple-400;
$lightBaseColor: $flexoki-purple-600;
$white: $flexoki-paper;
$black: $flexoki-black;

// Fonts

$baseSerifFontStack: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
$serifFontFamily: 'Merriweather', $baseSerifFontStack;
$serifBoldFontFamily: 'Merriweather', $baseSerifFontStack;
$serifItalicFontFamily: 'Merriweather', $baseSerifFontStack;
$serifBoldItalicFontFamily: 'Merriweather', $baseSerifFontStack;
$sansSerifFontFamily: system-ui, sans-serif;
$arialFamily: -apple-system,
  BlinkMacSystemFont,
'Segoe UI',
Roboto,
'Helvetica Neue',
Ubuntu,
Arial,
sans-serif;
$emojiFontFamily:
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;

// Spacings

$spacing: 1rem;
$mainBreakpoint: (48 * $baseSize) - 1px;
$mediumBreakpoint: 36rem;
$menuBreakpoint: $mainBreakpoint + (6 * $baseSize);
$footerBreakpoint: 32rem;

// Timings

$defaultTransitionTime: 0.1s;
$longTransitionTime: 0.2s;

// Common CSS variables

:root {
  --base-font-size: #{$baseSize};
  --spacing: #{$spacing};
  --text-font-family: #{$serifFontFamily};
  --serif-bold-font-family: #{$serifBoldFontFamily};
  --serif-italic-font-family: #{$serifItalicFontFamily};
  --serif-bold-italic-font-family: #{$serifBoldItalicFontFamily};
  --arial-font-family: #{$arialFamily};
  --emoji-font-family: #{$emojiFontFamily};
                                --heading-font-family: "Source Sans 3",
                                #{$sansSerifFontFamily};
  --read-more-hover-color: #{$white};
  --default-transition-time: #{$defaultTransitionTime};
  --long-transition-time: #{$longTransitionTime};
}

// Light mode colors

$lightBackgroundColor: $flexoki-paper;
$lightTextColor: $flexoki-black;
$lightLinkColor: color.adjust($lightBaseColor, $lightness: -15%);
$lightLinkHoverColor: color.adjust($lightLinkColor, $lightness: 35%);
$lightPostMetaColor: $flexoki-600;
$lightTopMetaColor: $flexoki-600;
$lightBottomMetaColor: $lightTopMetaColor;
$lightNoticeBorderColor: $flexoki-300;
$lightNoticeBackgroundColor: rgba($lightNoticeBorderColor, .2);
$lightNoticeRedColor: $flexoki-red-600;
$lightNoticeRedBackgroundColor: rgba($lightNoticeRedColor, .1);
$lightNoticeOrangeColor: $flexoki-orange-600;
$lightNoticeOrangeBackgroundColor: rgba($lightNoticeOrangeColor, .1);
$lightNoticeYellowColor: $flexoki-yellow-600;
$lightNoticeYellowBackgroundColor: rgba($lightNoticeYellowColor, .1);
$lightNoticeGreenColor: $flexoki-green-600;
$lightNoticeGreenBackgroundColor: rgba($lightNoticeGreenColor, .1);
$lightNoticeCyanColor: $flexoki-cyan-600;
$lightNoticeCyanBackgroundColor: rgba($lightNoticeCyanColor, .1);
$lightNoticeBlueColor: $flexoki-blue-600;
$lightNoticeBlueBackgroundColor: rgba($lightNoticeBlueColor, .1);
$lightNoticePurpleColor: $flexoki-purple-600;
$lightNoticePurpleBackgroundColor: rgba($lightNoticePurpleColor, .1);
$lightNoticeMagentaColor: $flexoki-magenta-600;
$lightNoticeMagentaBackgroundColor: rgba($lightNoticeMagentaColor, .1);
$lightCodeBackgroundColor: color.adjust($lightBaseColor, $lightness: 45%);
$lightCodeSelectionBackgroundColor: color.adjust($lightBaseColor, $lightness: 33%);
$lightMarkBackgroundColor: color.adjust($lightBaseColor, $lightness: 55%);
$lightMarkColor: $lightTextColor;
$lightAsideColor: $lightLinkColor;
$lightThemeSwitcherColor: $lightLinkColor;
$lightMobileMenuBackgroundColor: $lightBackgroundColor;
$lightMobileMenuSeparatorColor: color.adjust($white, $lightness: -8%);
$lightScrollUpArrowBackgroundColor: color.adjust(
  $lightLinkColor,
  $lightness: 10%
);
$lightScrollUpArrowHoverBackgroundColor: color.adjust(
  $lightScrollUpArrowBackgroundColor,
  $lightness: 7%
);
$lightPaginationColor: $lightTextColor;
$lightPaginationFocusBackgroundColor: $lightNoticeBackgroundColor;
$lightPaginationInactiveColor: $flexoki-300;
$lightPaginationJumpButtonBackgroundColor: $lightPaginationInactiveColor;
$lightFooterSeparatorColor: $flexoki-150;
$lightBlurbBackgroundColor: rgba($lightBaseColor, 0.2);

@mixin lightModeColors {
  --base-color: #{$lightBaseColor};
  --background-color: #{$lightBackgroundColor};
  --text-color: #{$lightTextColor};
  --link-color: #{$lightLinkColor};
  --link-hover-color: #{$lightLinkHoverColor};
  --post-meta-color: #{$lightPostMetaColor};
  --top-meta-color: #{$lightTopMetaColor};
  --bottom-meta-color: #{$lightBottomMetaColor};
  --notice-border-color: #{$lightNoticeBorderColor};
  --notice-background-color: #{$lightNoticeBackgroundColor};
  --code-background-color: #{$lightCodeBackgroundColor};
  --code-selection-background-color: #{$lightCodeSelectionBackgroundColor};
  --mark-background-color: #{$lightMarkBackgroundColor};
  --mark-color: #{$lightMarkColor};
  --aside-color: #{$lightAsideColor};
  --theme-switcher-color: #{$lightThemeSwitcherColor};
  --mobile-menu-background-color: #{$lightMobileMenuBackgroundColor};
  --mobile-menu-separator-color: #{$lightMobileMenuSeparatorColor};
  --scroll-up-arrow-background-color: #{$lightScrollUpArrowBackgroundColor};
  --scroll-up-arrow-hover-background-color: #{$lightScrollUpArrowHoverBackgroundColor};
  --pagination-page-number-input-text-color: #{$lightTextColor};
  --pagination-page-number-input-background-color: #{$lightBackgroundColor};
  --pagination-color: #{$lightPaginationColor};
  --pagination-focus-background-color: #{$lightPaginationFocusBackgroundColor};
  --pagination-inactive-color: #{$lightPaginationInactiveColor};
  --pagination-jump-button-background-color: #{$lightPaginationJumpButtonBackgroundColor};
  --footer-separator-color: #{$lightFooterSeparatorColor};
  --blurb-background-color: #{$lightBlurbBackgroundColor};
  --blurb-border-color: #{$lightBaseColor};
}

:root,
html:not(.dark) {
  @include lightModeColors;
}

// Dark mode colors

$darkBackgroundColor: $flexoki-black;
$darkTextColor: $flexoki-200;
$darkLinkColor: color.adjust($darkBaseColor, $lightness: 5%);
$darkLinkHoverColor: color.adjust($darkLinkColor, $lightness: -15%);
$darkPostMetaColor: $flexoki-500;
$darkTopMetaColor: $flexoki-500;
$darkBottomMetaColor: $darkTopMetaColor;
$darkNoticeBorderColor: $flexoki-700;
$darkNoticeBackgroundColor: rgba($darkNoticeBorderColor, .2);
$darkNoticeRedColor: $flexoki-red-400;
$darkNoticeRedBackgroundColor: rgba($darkNoticeRedColor, .2);
$darkNoticeOrangeColor: $flexoki-orange-400;
$darkNoticeOrangeBackgroundColor: rgba($darkNoticeOrangeColor, .2);
$darkNoticeYellowColor: $flexoki-yellow-400;
$darkNoticeYellowBackgroundColor: rgba($darkNoticeYellowColor, .2);
$darkNoticeGreenColor: $flexoki-green-400;
$darkNoticeGreenBackgroundColor: rgba($darkNoticeGreenColor, .2);
$darkNoticeCyanColor: $flexoki-cyan-400;
$darkNoticeCyanBackgroundColor: rgba($darkNoticeCyanColor, .2);
$darkNoticeBlueColor: $flexoki-blue-400;
$darkNoticeBlueBackgroundColor: rgba($darkNoticeBlueColor, .2);
$darkNoticePurpleColor: $flexoki-purple-400;
$darkNoticePurpleBackgroundColor: rgba($darkNoticePurpleColor, .2);
$darkNoticeMagentaColor: $flexoki-magenta-400;
$darkNoticeMagentaBackgroundColor: rgba($darkNoticeMagentaColor, .2);
$darkCodeBackgroundColor: color.adjust($darkBaseColor, $lightness: -50%);
$darkCodeSelectionBackgroundColor: color.adjust($black, $lightness: -16%);
$darkMarkBackgroundColor: color.adjust($darkLinkHoverColor, $lightness: -25%);
$darkMarkColor: $darkTextColor;
$darkAsideColor: $darkLinkColor;
$darkThemeSwitcherColor: $darkLinkColor;
$darkMobileMenuBackgroundColor: $darkBackgroundColor;
$darkMobileMenuSeparatorColor: color.adjust($black, $lightness: -5%);
$darkScrollUpArrowBackgroundColor: color.adjust(
  $darkLinkColor,
  $lightness: -10%
);
$darkScrollUpArrowHoverBackgroundColor: color.adjust(
  $darkScrollUpArrowBackgroundColor,
  $lightness: -7%
);
$darkPaginationPageNumberInputTextColor: $darkTextColor;
$darkPaginationColor: color.adjust($black, $lightness: -55%);
$darkPaginationFocusBackgroundColor: $darkNoticeBackgroundColor;
$darkPaginationInactiveColor: $flexoki-700;
$darkPaginationJumpButtonBackgroundColor: $darkPaginationInactiveColor;
$darkFooterSeparatorColor: $flexoki-850;
$darkBlurbBackgroundColor: rgba($darkBaseColor, 0.2);

@mixin darkModeColors {
  --base-color: #{$darkBaseColor};
  --background-color: #{$darkBackgroundColor};
  --text-color: #{$darkTextColor};
  --link-color: #{$darkLinkColor};
  --link-hover-color: #{$darkLinkHoverColor};
  --post-meta-color: #{$darkPostMetaColor};
  --top-meta-color: #{$darkTopMetaColor};
  --bottom-meta-color: #{$darkBottomMetaColor};
  --notice-border-color: #{$darkNoticeBorderColor};
  --notice-background-color: #{$darkNoticeBackgroundColor};
  --code-background-color: #{$darkCodeBackgroundColor};
  --code-selection-background-color: #{$darkCodeSelectionBackgroundColor};
  --mark-background-color: #{$darkMarkBackgroundColor};
  --mark-color: #{$darkMarkColor};
  --aside-color: #{$darkAsideColor};
  --theme-switcher-color: #{$darkThemeSwitcherColor};
  --mobile-menu-background-color: #{$darkMobileMenuBackgroundColor};
  --mobile-menu-separator-color: #{$darkMobileMenuSeparatorColor};
  --scroll-up-arrow-background-color: #{$darkScrollUpArrowBackgroundColor};
  --scroll-up-arrow-hover-background-color: #{$darkScrollUpArrowHoverBackgroundColor};
  --pagination-color: #{$darkPaginationColor};
  --pagination-page-number-input-text-color: #{$darkTextColor};
  --pagination-page-number-input-background-color: #{$darkBackgroundColor};
  --pagination-focus-background-color: #{$darkPaginationFocusBackgroundColor};
  --pagination-inactive-color: #{$darkPaginationInactiveColor};
  --pagination-jump-button-background-color: #{$darkPaginationJumpButtonBackgroundColor};
  --footer-separator-color: #{$darkFooterSeparatorColor};
  --blurb-background-color: #{$darkBlurbBackgroundColor};
  --blurb-border-color: #{$darkBaseColor};
}

html.dark {
  @include darkModeColors;
}

@media (prefers-color-scheme: dark) {
  :root,
  html:not(.light),
  html.dark {
    @include darkModeColors;
  }
}
