@import 'partials';

.site-logo {
  filter: drop-shadow(3px 4px 7px rgba($black, 0.4));
}

.navbar-brand {
  text-shadow: 2px 2px 4px rgba($black, 0.4);
}






.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
}

.scroll-up-arrow {
  .bi {
    width: 2rem;
    height: 2rem;
    fill: var(--background-color);
  }
}
