$primary: #6610f2;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'partials';
@import 'pages';

header {
  .active {

    .nav-link {
      text-decoration: underline;
    }
  }
}

:root,
[data-bs-theme='light'] {
  .navbar.text-bg-primary {
    .nav-item {
      a.nav-link {
        color: #fff;

        &:hover {
          color: rgba(#fff, 0.75);
        }
      }
    }
  }
}


.site-logo img {
  border-radius: 50%;
  border: 2px solid var(--text-color);
  box-shadow: 3px 4px 7px 0px rgba($black, 0.4)
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
}

.scroll-up-arrow {
  .bi {
    width: 2rem;
    height: 2rem;
    fill: var(--background-color);
  }
}
