{% if siteConfig.metaPages %}
<ul>
{% for item in siteConfig.metaPages %}
  <li><a href="{{ item.url }}"><span>{% svgUse item.icon, "bi" %} {{ item.title }}</span></a></li>
{% endfor %}
</ul>
{% endif %}
