{% set disclaimer = post.data.disclaimer %}
{%- if disclaimer -%}&lt;p&gt;&lt;b&gt;Disclaimer:&lt;/b&gt; {% if disclaimer.url -%}&lt;a href=&quot;{{ disclaimer.url }}&quot;&gt;{{ disclaimer.text }} →&lt;/a&gt;{%- else -%}{{ disclaimer.text }}{%- endif -%}&lt;/p&gt;{%- endif -%}
