---
layout: page
---

{% img '/images/logo.png', 'class'='about-logo rounded-circle border border-3 border-primary-subtle ms-3 me-0 mb-3 mt-0' %}

<hr/>

{{ content | safe }}

<div class="col-md-8 alert alert-dark author-info text-font-sans my-5" role="alert">
  <div class="row">
  <div class="author-image col-md-2">
    <img src="/images/scottkillen.jpg" class="rounded-circle mx-auto" alt="Scott Killen profile picture"/>
  </div>
  <div class="col-md-10">
    <h3>About the author</h3>
    <p>SomeGuy.us is designed, written and developed by Scott Killen. He is a former software developer and web designer, who currently runs <a class="link-underline-opacity-0 link-body-emphasis" href="https://killencpa.com/">Killen &amp Associates</a>, the CPA firm started by his father many decades ago.</p>
    <p>Scott believes in Jesus and preaches the gospel at the <a class="link-underline-opacity-0 link-body-emphasis" href="https://edistochurch.org/">Edisto Island Chruch of Christ</a>. He enjoys deep studies of various Bible passage.</p>
    <p>If you'd like to get in touch, you can reach Scott at <a class="link-underline-opacity-0 link-body-emphasis" href="scott@scottkillen.com">scott@scottkillen.com</a>.</p>
  </div>
</div>
</div>
