<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body
    class="page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
    {% include "partials/header.njk" %}
    <div id="main" class="container{% if hasAsides %} with-asides{% endif %}">
      {{ content|safe }}
      {% include "partials/footer.njk" %}
    </div>
    {% include "partials/scripts.njk" %}
  </body>
</html>
