<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body
    class="page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
    {% include "partials/no-flash.njk" %}
    {% include "partials/header/skip-link.njk" %}
    {% include "partials/icon-sprite-sheet.njk" %}
    {% include "partials/header.njk" %}
    <main id="content" class="container">
      {{ content|safe }}
    </main>
    {% include "partials/scripts.njk" %}
  </body>
</html>
