---
layout: base
---

<article>
  <header class="border-bottom border-secondary-subtle mb-4">
    <h1 class="page-title">{{ title }}</h1>
  </header>

  {% include "disclaimers/disclaimer.njk" %}

  {{ content | safe }}

</article>

{% include "partials/footer.njk" %}
