---
layout: base
---

<article class="mt-4">
  <header class="border-bottom border-secondary-subtle mb-4">
    <h1 class="page-title p-name">{{ title }}</h1>
  </header>
  {% include "disclaimers/disclaimer.njk" %}
  <div class="e-content">
    {{ content | safe }}
  </div>

</article>

{% include "partials/footer.njk" %}
