---
layout: base
---

<article class="h-entry single-article{% if poem%} poem{% endif %} border-bottom border-secondary-subtle mb-4 pb-3">

  {% include "partials/post/image.njk" %}

  <header class="border-bottom border-secondary-subtle mb-4">
    <h1 class="article-title p-name">{{ title }}</h1>
    {% if subtitle %}
      <p class="subtitle">{{ subtitle }}</p>
    {% endif %}
  </header>
  {% include "disclaimers/disclaimer.njk" %}
  <div class="e-content">
    {{ content | safe }}
  </div>
</article>

{% include "partials/post/bottom-meta.njk" %}
{% include "partials/post/navigation.njk" %}
{% include "partials/scroll-up-arrow.njk" %}

{% include "partials/footer.njk" %}
