<ul class="navbar-nav mx-auto">
  {% for item in navPages %}
    {% if item.order === 4 %}
        <li data-bs-toggle="tooltip" data-bs-title="Slash pages" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
    {% endif %}
    <li class="nav-item{% if item.url === page.url %} active{% endif %}"{% if item.url === page.url %} aria-current="page"{% endif %}>
      <a class="nav-link link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ item.url }}">
        {{ item.key }}
      </a>
    </li>
  {% endfor %}
  </ul></li>
</ul>
