.blog-post {
  margin-bottom: 4rem;
}

:root,
[data-bs-theme='light'] {
  .post-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }

    a:hover {
      h2 {
        text-decoration: underline;
        text-decoration-thickness: 0.125rem;
        text-underline-offset: 0.125rem;
      }

      .read-more {
        color: #ce5d97;

        &::after {
          margin-left: .5em;
        }
      }
    }

    a {
      .read-more {
        &::after {
          content: "➞";
          margin-left: .2em;
          transition: transform .15s;
          display: inline-block;
        }
      }
    }
  }
}

[data-bs-theme='dark'] {
  .post-list {
    a:hover {
      &::after {
        color: #a02f6f;
      }
    }
  }
}
