---
title: Blogroll
description: People and sites I follow and enjoiy reading.
eleventyNavigation:
  key: Bogroll
  order: 4
---

<p>A list of some people and sites that I follow and enjoy reading.</p>

<ul>
  <li>
    <a href="https://elysahenegar.com/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Elysa Henegar</a>
  </li>
  <li>
    <a href="https://kk.org/cooltools/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Cool Tools</a>
  </li>
  <li>
    <a href="https://www.zachleat.com/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Zach Leatherman</a>
  </li>
  <li>
    <a href="https://shadycharacters.co.uk/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Shady Characters - The secret life of punctuation</a>
  </li>
  <li>
    <a href="https://css-irl.info/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">CSS { In Real Life }</a>
  </li>
  <li>
    <a href="https://www.joshwcomeau.com/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Josh Comeau</a>
  </li>
</ul>
