---
title: Colophon
description: How this site was made
eleventyNavigation:
  key: Colophon
  order: 5
---

<p>The code for this website is on <a class="link-offset-2" href="https://github.com/scottkillen/someguy.us">GitHub</a> and deployed to <a class="link-offset-2" href="https://pages.cloudflare.com/">Cloudflare Pages</a>. Posts are saved as <a class="link-offset-2" href="https://daringfireball.net/projects/markdown/">markdown</a> or <a class="link-offset-2" href="https://mozilla.github.io/nunjucks/">nunjucks</a> files, created manually using <a class="link-offset-2" href="https://code.visualstudio.com/">Visual Studio Code</a>. The build is processed using <a class="link-offset-2" href="https://www.11ty.dev/">Eleventy</a>, a static site generator for <a class="link-offset-2" href="https://nodejs.org/">node.js.</a></p>

<p>This site is styled using <a class="link-offset-2" href="https://getbootstrap.com/">Bootstrap</a> for the grid system and responsive design. I have merged additional styling with Bootstrap's using <a class="link-offset-2" href="https://getbootstrap.com/docs/5.3/customize/sass/">Bootstrap’s SASS</a>.</p>

<p>Icons from <a class="link-offset-2" href="https://fontawesome.com/">Font Awesome</a> in the <a class="link-offset-2" href="https://blog.fontawesome.com/introducing-sharp-duotone/">Sharp Duotone Regiular Style</a>. The code for the site omits unused icons from each page when Eleventy generates the site.</p>

<div class="alert alert-info" role="alert">
<a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="https://en.wikipedia.org/wiki/Colophon_(publishing)">Colophon</a> is a publishing term typically used to describe the publishing process but has been <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="https://indieweb.org/colophon">expanded to websites</a>.
</div>
