<div class="feed-list">
  <ul>
    <li>
      <a href="{{ siteConfig.feed.excerpts.path }}">
        {% icon 'rss',
        'class' = 'bi' %}
        <span class="name">{{ siteConfig.feed.excerpts.title }}</span>
      </a>
    </li>
    <li>
      <a href="{{ siteConfig.feed.full.path }}">
        {% icon 'rss',
        'class' = 'bi' %}
        <span class="name">{{ siteConfig.feed.full.title }}</span>
      </a>
    </li>
    <li>
      <a href="{{ siteConfig.json.excerpts.path }}">
        {% icon 'json-feed', 'class'='bi' %}
        <span class="name">{{ siteConfig.json.excerpts.title }}</span>
      </a>
    </li>
    <li>
      <a href="{{ siteConfig.json.full.path }}">
        {% icon 'json-feed', 'class'='bi' %}
        <span class="name">{{ siteConfig.json.full.title }}</span>
      </a>
    </li>
    <li>
      <a href="{{ siteConfig.twtxt.path }}">
        <span class="twtxt-logo">
          {% icon 'twtxt',
          'class' = 'bi' %}
        </span>
        <span class="name">{{ siteConfig.twtxt.title }}</span>
      </a>
    </li>
  </ul>
</div>
