<div class="feed-list">
  <ul class="list-unstyled ms-3">
    <li class="mb-1">
      <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ siteConfig.feed.excerpts.path }}">
        {% icon 'rss', 'class' = 'bi align-middle me-2' %}
        {{ siteConfig.feed.excerpts.title }}
      </a>
    </li>
    <li class="mb-1">
      <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ siteConfig.feed.full.path }}">
        {% icon 'rss', 'class' = 'bi align-middle me-2' %}
        {{ siteConfig.feed.full.title }}
      </a>
    </li>
    <li class="mb-1">
      <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ siteConfig.json.excerpts.path }}">
        {% icon 'json-feed', 'class' = 'bi align-middle me-2' %}
        {{ siteConfig.json.excerpts.title }}
      </a>
    </li>
    <li class="mb-1">
      <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ siteConfig.json.full.path }}">
        {% icon 'json-feed', 'class' = 'bi align-middle me-2' %}
        {{ siteConfig.json.full.title }}
      </a>
    </li>
    <li class="mb-1">
      <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ siteConfig.twtxt.path }}">
        {% icon 'twtxt', 'class' = 'bi align-middle me-2' %}
        {{ siteConfig.twtxt.title }}
      </a>
    </li>
  </ul>
</div>
