<header class="navbar fixed-top navbar-expand-lg">
  <nav class="container text-font-sans">
  {% include "partials/header/site-branding.njk" %}
  {% include "partials/header/collapsible.njk" %}
  </nav>
</header>
