{% include "partials/header/skip-link.njk" %}
{% include "svg-sprite.svg" %}
<header class="header">
  {% include "partials/header/hamburger.njk" %}
  {% include "partials/header/main-nav.njk" %}
  {% include "partials/header/theme-switcher.njk" %}
</header>
