<header class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary text-bg-primary">
  <nav class="container">
  {% include "partials/header/site-branding.njk" %}
  {% include "partials/header/collapsible.njk" %}
  </nav>
</header>
