{% if totalPages > 1 %}
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center">
      {%- if currentPage > 2 -%}
        <li class="page-item">
          <a class="page-link" href="{{ firstHref }}">
            {% svgUse "left-to-line", "bi" %}
            <span class="sr-only" hidden>Newest articles</span>
          </a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <span class="page-link">{% svgUse "left-to-line", "bi" %}</span>
        </li>
      {%- endif -%}
      {%- if currentPage > 1 -%}
        <li class="page-item">
          <a class="page-link" href="{{ previousHref }}">
            {% svgUse "left", "bi" %}
            <span class="sr-only" hidden>Newer articles</span>
          </a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <span class="page-link">{% svgUse "left", "bi" %}</span>
        </li>
      {%- endif -%}

      <li class="page-item active">
        <span class="page-link">Page {{ currentPage }} of {{ totalPages }}</span>
      </li>

      {%- if currentPage < totalPages -%}
        <li class="page-item">
          <a class="page-link" href="{{ nextHref }}">
            <span class="sr-only" hidden>Older articles</span>
            {% svgUse "right", "bi" %}
          </a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <span class="page-link">{% svgUse "right", "bi" %}</span>
        </li>
      {%- endif -%}

      {%- if currentPage < totalPages - 1 -%}
        <li class="page-item">
          <a class="page-link" href="{{ lastHref }}">
            <span class="sr-only" hidden>Oldest articles</span>
            {% svgUse "right-to-line", "bi" %}
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">{% svgUse "right-to-line", "bi" %}</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
