<script>
  // Navbar scroll effect
  const navbar = document.querySelector('.navbar');
  window.addEventListener('scroll', () => {
    if (window.scrollY > 56) {
      navbar.classList.add('scrolled');
    } else {
      navbar.classList.remove('scrolled');
    }
  });

  // Back to top button
  const toTopButton = document.getElementById('btn-back-to-top');
  window.addEventListener('scroll', () => {
    if (window.scrollY > 100) {
      toTopButton.style.display = 'block';
    } else {
      toTopButton.style.display = 'none';
    }
  });
  toTopButton.addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>

<script src="{{ '/js/jquery.min.js' | addHash }}"></script>
<script src="{{ '/js/bootstrap.bundle.min.js' | addHash }}"></script>
