{%- set wordCount -%}{{ post.templateContent | striptags | wordcount }}{%- endset -%}
{%- set readingTime -%}{{ wordCount | readingTimeMin }}{%- endset -%}
{%- set postDate -%}{{ post.data.date|readableDate }}{%- endset -%}
<article class="d-block h-entry blog-post mb-5">
  <a class="d-flex flex-column u-url link-body-emphasis d-block" href="{{ post.url }}">
    <h2 class="display-5 mb-1 p-name post-title link-offset-1">
      {{ post.data.title }}
    </h2>
    <p class="post-meta text-body-secondary mb-2 text-font-sans">
      <time class="dt-published">{{ postDate }}</time>
      <span class="separator">•</span>
      <span class="reading-time" title="{{ wordCount }} words">{{ readingTime }} minutes</span>
    </p>
    <div class="excerpt p-summary text-body">
      {% excerpt post %}
    </div>
    <p class="read-more text-font-sans">Read more</p>
  </a>
</article>
