<div class="tag-cloud">
  {% for tag in collections.tagCloud %}
    {%- set tagUrl -%}/{{ siteConfig.tags.pageUrlPrefix }}/{{ tag | slugify }}/{%- endset -%}
    <a class="btn btn-warning border border-secondary ms-0 me-1 mb-2" href="{{ tagUrl }}" title="Articles tagged as '{{ tag }}'">
      <span class="name">{{ tag }}</span>
      <span class="count badge text-bg-primary border border-dark-subtle">{{ collections[tag]| length }}</span>
    </a>
  {% endfor %}
</div>
