header {
  --thickness: 6px;

  .active {
    .nav-link {
      text-decoration: underline;
    }
  }
}

header:not(article header) {
  background: rgba(var(--bs-body-bg-rgb), 0.95);
}

@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  header:not(article header) {
    background: rgba(var(--bs-body-bg-rgb), 0.5)
  }

  .backdrop {
    position: absolute;
    inset: 0;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: linear-gradient(to bottom,
        rgba(var(--bs-body-bg-rgb), 0.95),
        transparent 50%);
    pointer-events: none;
    z-index: -1;
  }

  .backdrop-edge {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--thickness);
    background: rgba(var(--bs-body-bg-rgb), 0.1);
    -webkit-backdrop-filter: blur(12px) brightness(0.96);
    backdrop-filter: blur(12px) brightness(0.96);
    transform: translateY(100%);
    pointer-events: none;
    z-index: -1;
  }
}

@supports (mask-image: none) or (-webkit-mask-image: none) {
  .backdrop {
    height: 200%;
    -webkit-mask-image: linear-gradient(to bottom,
        black 0% 50%,
        transparent 50% 100%);
    mask-image: linear-gradient(to bottom,
        black 0% 50%,
        transparent 50% 100%);
  }

  .backdrop-edge {
    height: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(to bottom,
        black 0,
        black var(--thickness),
        transparent var(--thickness));
    mask-image: linear-gradient(to bottom,
        black 0,
        black var(--thickness),
        transparent var(--thickness));
  }
}

.site-logo {
  width: 100%;
  --diameter: 5rem;
  max-width: var(--diameter);
  height: var(--diameter);
}

.navbar-brand {
  text-shadow: 2px 2px 4px rgba($black, 0.4);
}

main>.row {
  .col-left {
    .sticky-top {
      top: 140px;
    }
  }
}
