html {
  &[data-bs-theme='dark'] {
    svg {
      &.light-toggle {
        display: none;
      }
      &.dark-toggle {
        display: block;
      }
    }
  }

  &[data-bs-theme='light'] {
    svg {
      &.light-toggle {
        display: block;
      }

      &.dark-toggle {
        display: none;
      }
    }
  }
}

[data-bs-theme-toggle] {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--theme-switcher-color);
    @include transition(opacity);
  }

  &:hover {
    svg {
      opacity: 0.8;
    }
  }
}
